{
  "swagger": "2.0",
  "info": {
    "title": "Api Potentor",
    "description": "Desarrolla tu app a través del API Potentor, debes incluir tu \"api key\" secreta en los headers de la petición, con la variable llamada POTENTOR-API-KEY, los formatos de respuesta posibles son JSON y XML. Puedes probar con estos datos de prueba: api-key = 1e991eaac0b0c52fab5600d5c8ba7d04, sucursal = 4, No. de control de empleado = MUSER04",
    "version": "1.0.0"
  },
  "host": "campus.potentor.com.mx",
  "schemes": [
    "https"
  ],
  "basePath": "/api_rest",
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/login/token": {
      "get": {
        "summary": "Link de acceso",
        "description": "Devuelve un link temporal de acceso a la plataforma\n",
        "tags": [
          "Acceso"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "no_empleado",
            "description": "Número de control del empleado",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "rrhh",
            "description": "Está variable permite al usuario poder administrar la plataforma durante la sesión",
            "required": true,
            "type": "boolean",
            "default": false
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Un objeto token",
            "schema": {
              "$ref": "#/definitions/Token"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/empresa/info": {
      "get": {
        "summary": "Información de tu cuenta",
        "description": "Devuelve la información de tu cuenta.\n",
        "tags": [
          "Empresa"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Un objeto empresa",
            "schema": {
              "$ref": "#/definitions/Empresa"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "summary": "Actualiza empresa",
        "description": "Actualiza la información de tu cuenta.\n",
        "operationId": "actualizaEmpresa",
        "tags": [
          "Empresa"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empresa",
            "in": "body",
            "description": "Objeto de la empresa",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualizaEmpresa"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/empresa/sucursales": {
      "get": {
        "summary": "Sucursales de la empresa",
        "description": "Devuelve las sucursales creadas en tu cuenta.\n",
        "tags": [
          "Empresa"
        ],
        "responses": {
          "200": {
            "description": "Un array de sucursales",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sucursal"
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/empresa/paquetes": {
      "get": {
        "summary": "Paquetes de la empresa",
        "description": "Devuelve los paquetes creados en tu cuenta.\n",
        "tags": [
          "Empresa"
        ],
        "responses": {
          "200": {
            "description": "Un array de paquetes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Paquete"
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/sucursal/info": {
      "post": {
        "summary": "Crea sucursal",
        "description": "Crea una sucursal. Si el `username` existe, se creará uno nuevo.",
        "operationId": "creaSucursal",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "sucursal",
            "in": "body",
            "description": "Objeto de la sucursal",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreaSucursal"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaEntityCreate"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "Información de la sucursal",
        "description": "Devuelve la información de una sucursal definida.\n",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id de la sucursal que desea encontrar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto sucursal",
            "schema": {
              "$ref": "#/definitions/Sucursal"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "summary": "Actualiza sucursal",
        "description": "Actualiza la información de una sucursal especificada.",
        "operationId": "actualizaSucursal",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "sucursal",
            "in": "body",
            "description": "Objeto de la sucursal",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualizaSucursal"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Elimina una sucursal",
        "description": "Elimina la información de una sucursal definida, así también se eliminarán departamentos, empleados, créditos y resultados existentes. Los créditos que no se encuentren en proceso de evaluación serán reembolsados a la cuenta que originó la asignación.\n",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id de la sucursal que desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/sucursal/departamentos": {
      "get": {
        "summary": "Departamentos de la sucursal",
        "description": "Devuelve los departamentos de una sucursal.\n",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un array de departamentos",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Departamento"
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/sucursal/paquete": {
    "put": {
        "summary": "Asignar paquete",
        "description": "Asigna un paquete a la sucursaL.",
        "operationId": "asignaPaqueteSucursal",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "sucursal",
            "in": "body",
            "description": "Objeto del sucursal",
            "required": true,
            "schema": {
              "$ref": "#/definitions/asignaPaqueteSucursal"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/sucursal/usuarios_consulta": {
    "get": {
        "summary": "Información de usuarios de consulta de una sucursal",
        "description": "Devuelve la información los usuarios de consulta de la sucursal.\n",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id de la sucursal que desea sus usuarios de consulta",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto sucursal",
            "schema": {
              "$ref": "#/definitions/Sucursal"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
    "put": {
        "summary": "Crear usuario de consulta",
        "description": "Crea un usuario de consulta para la sucursal.",
        "operationId": "crearUsuarioConsultaSucursal",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "sucursal",
            "in": "body",
            "description": "Objeto del sucursal",
            "required": true,
            "schema": {
              "$ref": "#/definitions/creaUsuarioConsultaSucursal"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Borrar usuario de consulta",
        "description": "Borra un usuario de consulta de la sucursal.",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del usuario de consulta que desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/sucursal/areas": {
      "get": {
        "summary": "Áreas de la sucursal",
        "description": "Devuelve las areas de una sucursal.\n",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un array de areas",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Area"
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/sucursal/jerarquias": {
      "get": {
        "summary": "Jerarquias de la sucursal",
        "description": "Devuelve las jerarquias de una sucursal.\n",
        "tags": [
          "Sucursal"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un array de jerarquias",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Jerarquia"
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },                            
    "/departamento/info": {
      "post": {
        "summary": "Crea departamento",
        "description": "Crea un departamento en una sucursal y area especificada, si el nombre de area no existe se creará una nueva.",
        "operationId": "creaDepartamento",
        "tags": [
          "Departamento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "departamento",
            "in": "body",
            "description": "Objeto del departamento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreaDepartamento"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCreate"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "Información del departamento",
        "description": "Devuelve la información de un departamento definido.\n",
        "tags": [
          "Departamento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del departamento que desea encontrar",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "clave",
            "description": "clave del departamento que desea encontrar",
            "required": false,
            "type": "string",
          },
        ],
        "responses": {
          "200": {
            "description": "Un objeto departamento",
            "schema": {
              "$ref": "#/definitions/Departamento"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Departamento no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "summary": "Actualiza departamento",
        "description": "Actualiza la información de una departamento especificada.",
        "operationId": "actualizaDepartamento",
        "tags": [
          "Departamento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "departamento",
            "in": "body",
            "description": "Objeto del departamento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualizaDepartamento"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Localidad no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Elimina un departamento",
        "description": "Elimina la información de una sucursal definida, así también se eliminarán empleados, créditos y resultados existentes. Los créditos que no se encuentren en proceso de evaluación serán reembolsados a la cuenta que originó la asignación.\n",
        "tags": [
          "Departamento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del departamento que desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Departamento no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }       
    },   
    "/departamento/empleados": {
      "get": {
        "summary": "Empleados del departamento",
        "description": "Devuelve los empleados de un departamento.\n",
        "tags": [
          "Departamento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del departamento",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un array de empleados",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Empleado"
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Departamento no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/empleado/info": {
      "post": {
        "summary": "Crea empleado",
        "description": "Crea un empleado. Si el `username` existe, se creará uno nuevo. Los valores permitidos para el grado son  `ADU` ó `PRO` de adulto y profesional respectivamente.",
        "operationId": "creaEmpleado",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreaEmpleado"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaEntityCreate"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Departamento no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "Información del empleado",
        "description": "Devuelve la información de un empleado definido.\n",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado que desea encontrar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto empleado",
            "schema": {
              "$ref": "#/definitions/Empleado"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "summary": "Actualiza empleado",
        "description": "Actualiza la información de un empleado especificado.",
        "operationId": "actualizaEmpleado",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualizaEmpleado"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Elimina un empleado",
        "description": "Elimina la información de un empleado definido. , así también se eliminarán créditos y resultados existentes. Los créditos que no se encuentren en proceso de evaluación serán reembolsados a la cuenta que originó la asignación.\n",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado que desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/empleado/search": {
      "get": {
        "summary": "Buscar empleados",
        "description": "Busca empleados por campos comunes como CURP, RFC, email, nombre, apellidos, número de empleado, IMSS o número interno. Solo retorna empleados que pertenecen a tu cuenta. Los criterios de búsqueda se combinan con AND (deben coincidir todos los criterios especificados).",
        "operationId": "searchEmpleados",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "curp",
            "description": "CURP del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "rfc",
            "description": "RFC del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "nombre",
            "description": "Nombre del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "apellido_paterno",
            "description": "Apellido paterno del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "apellido_materno",
            "description": "Apellido materno del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "no_empleado",
            "description": "Número de control del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "imss",
            "description": "Número de IMSS del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "numero_interno",
            "description": "Número interno del empleado (búsqueda parcial)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Un array de empleados encontrados",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EmpleadoBusqueda"
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Criterio de búsqueda no válido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/empleado/baja":{
    	"put": {
        "summary": "Baja de empleado",
        "description": "Da de baja a un empleado especificado.",
        "operationId": "bajaEmpleado",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "baja",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/bajaEmpleado"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/empleado/datos_generales":{
      "post": {
        "summary": "Agrega datos generales",
        "description": "Agrega los datos generales a un empleado ya creado",
        "operationId": "creaGenerales",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del empleado",
            "required": [
		        "potentor_id",
				"nacionalidad",
				"lugar_nacimiento",
				"estado_civil",
				"rfc",
				"curp",
				"imss",
				"celular_personal"
		      ],
            "schema": {
              "$ref": "#/definitions/creaGenerales"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get":{
      	"summary": "Obten los datos generales del empleado",
        "description": "Obtiene los datos generales capturados para una empleado.",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado que desea encontrar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto de datos generales del empleado",
            "schema": {
              "$ref": "#/definitions/datosGenerales"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "summary": "Modifica datos generales", 
        "description": "Modifica los datos generales a un empleado ya creado",
        "operationId": "updGenerales",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/creaGenerales"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/empleado/datos_cv":{
      "get":{
      	"summary": "Obten los datos del curriculum del empleado",
        "description": "Obtiene los datos del curriculum capturados para un empleado.",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado que desea encontrar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto de datos del curriculum del empleado",
            "schema": {
              "$ref": "#/definitions/datosCV"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "summary": "Agrega datos curriculum", 
        "description": "Agrega los datos de curriculum a un empleado",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/datosUCV"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modifica datos curriculum", 
        "description": "Modifica los datos de curriculum a un empleado ya creado",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/datosUCV"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/empleado/calificar":{
      "post": {
        "summary": "Califica a un empleado",
        "description": "Agrega la calificación a un empleado sobre un evento ya creado",
        "operationId": "creaCalificacion",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [{
            "name": "calificacion",
            "in": "body",
            "description": "Objeto de calificación",
            "required": true,
            "schema": {
              "$ref": "#/definitions/calificacion"
            }
         }],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get":{
      	"summary": "Obten calificación",
        "description": "Obtiene la calificación otorgada a un empleado en un determinado evento creado.",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "clave",
            "description": "Clave de evento",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto de datos generales del empleado",
            "schema": {
              "properties": {
				"calificacion": {
		          "type": "string",
		          "description": "Calificación del empleado."
		        }
		      }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "summary": "Cambia calificación", 
        "description": "Modifica la calificación otorgada a un empleado para un evento ya creado.",
        "operationId": "updCalificacion",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/calificacion"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/empleado/foto":{
      "post": {
        "summary": "Agrega la foto de perfil a un empleado",
        "description": "Agrega la calificación a un empleado sobre un evento ya creado",
        "operationId": "creaFoto",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [{
            "name": "foto",
            "in": "body",
            "description": "Objeto de la foto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/foto"
            }
         }],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/link"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get":{
      	"summary": "Obten foto del empleado",
        "description": "Obtiene el link de la foto de perfil del empleado.",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Ruta de la foto de perfil del empleado",
            "schema": {
              "properties": {
				"foto": {
		          "type": "string",
		          "description": "URL de la foto de perfil del empleado."
		        }
		      }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
    },
    "/empleado/activar":{
      "put": {
        "summary": "Activar un Empleado", 
        "description": "Activar un empleado que fue dado de baja.",
        "operationId": "updEstatus",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name":"activar",
            "potentor_id": "0",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/activaEmpleado"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/empleado/paquete": {
    "put": {
        "summary": "Asignar paquete",
        "description": "Asigna un paquete a un empleado.",
        "operationId": "asignaPaqueteEmpleado",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del empleado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/asignaPaqueteEmpleado"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/empleado/documentos":{
      "get":{
      	"summary": "Obten documentos del empleado",
        "description": "Obtiene los link de los documentos del empleado.",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Ruta de los documentos del empleado",
            "schema": {
              "$ref": "#/definitions/documentos"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
    },
    "/empleado/asistencia":{
      "post":{
      	"summary": "registra la asistencia de un empleado",
        "description": "registra la asistencia de un empleado.",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "empleado",
            "in": "body",
            "description": "Objeto del asistencia",
            "required": true,
            "schema": {
              "$ref": "#/definitions/asistencia"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registrar asistencia de empleado ",
            "schema": {
              "$ref": "#/definitions/RespuestaAsistennciaCreate"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
    },
    "/empleado/ncp_detallado":{
      "get":{
      	"summary": "Obtiene las evaluaciones de nivel detalladas del empleado",
        "description": "Obtiene las evaluaciones de nivel (NCP) detalladas de un empleado específico.",
        "tags": [
          "Empleado"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del empleado que desea consultar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluaciones de nivel detalladas del empleado",
            "schema": {
              "$ref": "#/definitions/NCPDetallado"
            }
          },
          "401": {
            "description": "Invalid API Key",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado o no tiene evaluaciones",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Clave del usuario (potentor_id) es requerida",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
    },
    "/puesto/info": {
      "get":{
		"summary": "Información del puesto",
        "description": "Devuelve la información del puesto.",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clave",
            "description": "Clave del puesto",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sucursal_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto puestos",
            "schema": {
              "$ref": "#/definitions/Puesto"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      },
	  "post": {
        "summary": "Crea un puesto",
        "description": "Agrega un puesto al catálogo de puestos, además si se define el puesto_antecesor y este ya existe previamente se establece la relación entre puestos.",
        "operationId": "creaPuesto",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "puesto",
            "in": "body",
            "description": "Objeto del puesto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreaPuesto"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Empleado no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Actualiza puesto",
        "description": "Actualiza la información del puesto.",
        "operationId": "actualizaPuesto",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "puesto",
            "in": "body",
            "description": "Objeto del puesto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualizaPuesto"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Elimina un puesto",
        "description": "Elimina toda la información de un puesto y sus relaciones con otros puestossi estas existen.",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "clave",
            "in": "query",
            "description": "Clave del puesto",
            "required": true
          },
          {
            "name": "sucursal_id",
            "in": "query",
            "description": "Id de la sucursal a la que pertenece el puesto",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Puesto no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/puesto/asignar": {
      "put":{
		"summary": "Asignar puesto a un empleado",
        "description": "Permite asignar el puesto a un empleado, especificando su antecesor establece la relación de puestos.",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "puesto",
            "in": "body",
            "description": "Objeto del puesto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/asignarPuesto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto puestos",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      }
    },
    "/puesto/cambiar": {
      "put":{
		"summary": "Cambia de puesto a un empleado",
        "description": "Permite cambiar de puesto a un empleado, el puesto actual es liberado siempre y cuando el puesto nuevo tenga posiciones disponibles.",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "puesto",
            "in": "body",
            "description": "Objeto del puesto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cambiarPuesto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto puestos",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      }
    },
    "/puesto/lista": {
      "get":{
		"summary": "Catálogo de puestos",
        "description": "Devuelve la información de los puestos creados del cliente.",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Un objeto puestos",
            "schema": {
              "$ref": "#/definitions/Puesto"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      }
    },
    "/puesto/organigrama": {
      "get":{
		    "summary": "Organigrama de sucursal",
        "description": "Devuelve la información de los puestos que están dentro del organigrama de la sucursal.",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sucursal_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto organigrama",
            "schema": {
              "$ref": "#/definitions/Organigrama"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      },
      "post":{
		    "summary": "Crear Organigrama de sucursal",
        "description": "Permite crear el organigrama de la sucursal.",
        "tags": [
          "Puesto"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "organigrama",
            "in": "body",
            "description": "Objeto del Organigrama, NOTA: es importante que la cabeza del organigrama en el antecesor_id sea null",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreaOrganigrama"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto organigrama",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      }
    },
    "/asistencia/evento":{
	  "post": {
        "summary": "Crea un evento",
        "description": "Agrega un evento que necesita llevar registro de asistencia.",
        "operationId": "creaEvento",
        "tags": [
          "Asistencia"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "evento",
            "in": "body",
            "description": "Objeto del evento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreaEvento"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Clave de evento duplicada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
	  "put": {
        "summary": "Actualiza un evento",
        "description": "Actualiza la información de un evento ya creado.",
        "operationId": "actualizaEvento",
        "tags": [
          "Asistencia"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "evento",
            "in": "body",
            "description": "Objeto del evento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualizaEvento"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }    
    },
    "/asistencia/fechas":{
	  "post": {
        "summary": "Agrega una fecha para el evento",
        "description": "Agrega una fecha a un evento de tipo `UNICO`, se deben agregar tantas como lo determine el período del evento.",
        "operationId": "creaFecha",
        "tags": [
          "Asistencia"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "fecha",
            "in": "body",
            "description": "Objeto de fecha",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreaFecha"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Clave de evento no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Elimina una fecha",
        "description": "Elimina una fecha de un evento determinado.",
        "tags": [
          "Asistencia"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "clave",
            "in": "query",
            "description": "Clave del evento",
            "required": true
          },
          {
            "name": "fecha",
            "in": "query",
            "description": "Fecha que desea eliminar, debe estar en formato `YYYY-MM-DD`.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Fecha no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/asistencia/entrada":{
	  "post": {
        "summary": "Marca la entrada",
        "description": "Marca la entrada de un participante al evento en la fecha enviada.",
        "operationId": "checkin",
        "tags": [
          "Asistencia"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "checkin",
            "in": "body",
            "description": "Objeto de entrada",
            "required": true,
            "schema": {
              "$ref": "#/definitions/check"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Clave de evento no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/asistencia/salida":{
	  "post": {
        "summary": "Marca la salida",
        "description": "Marca la salida de un participante del evento en la fecha enviada.",
        "operationId": "checkout",
        "tags": [
          "Asistencia"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "checkout",
            "in": "body",
            "description": "Objeto de salida",
            "required": true,
            "schema": {
              "$ref": "#/definitions/check"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Clave de evento no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/reclutamiento/lista": {
      "get":{
		  "summary": "Catálogo de vacantes",
        "description": "Devuelve la información de las vacantes creadas del cliente.",
        "tags": [
          "Reclutamiento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sucursal_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto vacante",
            "schema": {
              "$ref": "#/definitions/Vacante"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      }
    },
    "/reclutamiento/candidatos": {
      "get":{
		    "summary": "Obtener listado de candidatos por vacante",
        "description": "Devuelve la información de los candidatos que se postularon a la vacante.",
        "tags": [
          "Reclutamiento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sucursal_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "vacante_id",
            "description": "Potentor id de la vacante",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto organigrama",
            "schema": {
              "$ref": "#/definitions/Organigrama"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      },
    },
    "/reclutamiento/candidato": {
      "post":{
		  "summary": "Agregar candidato",
        "description": "Inserta la informacion del candidato.",
        "tags": [
          "Reclutamiento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "InsertReclutamiento",
            "in": "body",
            "description": "Objeto de salida",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reclutamientoPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mensaje de resgitro exitoso",
            "schema": {
              "$ref": "#/definitions/reclutamientoPost"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put":{
		  "summary": "Actualizar candidato",
        "description": "Actualizar la informacion del candidato.",
        "tags": [
          "Reclutamiento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "UpdateReclutamiento",
            "in": "body",
            "description": "Objeto de salida",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reclutamientoPut"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mensaje de actualizacion exitoso",
            "schema": {
              "$ref": "#/definitions/reclutamientoPut"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get":{
		    "summary": "Obtener infromacion del candidato",
        "description": "Devuelve la información del candidatos.",
        "tags": [
          "Reclutamiento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sucursal_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "vacante_id",
            "description": "Potentor id de la vacante",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Id del candidato",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
        ],
        "responses": {
          "200": {
            "description": "Un objeto organigrama",
            "schema": {
              "$ref": "#/definitions/Organigrama"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      },
      "delete": {
        "summary": "Eliminar Candidato",
        "description": "Elimina la informacion del candidato.",
        "tags": [
          "Reclutamiento"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "sucursal_id",
            "in": "query",
            "description": "Id de la sucursal.",
            "required": true
          },
          {
            "name": "potentor_id",
            "in": "query",
            "description": "Id del candidato que desea borrar.",
            "required": true
          },
          {
            "name": "vacante_id",
            "in": "query",
            "description": "Id de la vacante.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Fecha no encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
    },

    "/perfil/lista": {
      "get":{
		"summary": "Catálogo de Perfiles",
        "description": "Devuelve la información de los perfiles del cliente.",
        "tags": [
          "Perfiles"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sucursal_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "vacante_id",
            "description": "Potentor id de la vacante",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto perfil",
            "schema": {
              "$ref": "#/definitions/Perfil"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      }
    },
    "/app/lista": {
      "get":{
		"summary": "Catálogo de App",
        "description": "Devuelve la información de los app (adecuación puesto persona) del cliente.",
        "tags": [
          "App (Adecuación puesto persona)"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sucursal_id",
            "description": "Potentor id de la sucursal",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto app",
            "schema": {
              "$ref": "#/definitions/AdecuacionPuesto"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]        
      }
    },
    "/headcount/campos":{
      "get":{
        "summary" : "Listado de campos disponibles",
        "description" : "Muestra una lista de los campos disponibles a elegir",
        "tags":["Sync"],
        "produces":["application/json"],
        "parameters":[],
        "security":[{"api_key": []}],
        "responses":{
          "200":{
            "description": "Devuelve un arreglo de los campos y sus claves disponibles",
            "schema":{
              "type" : "array",
              "items":{
                "type": "object",
                "properties":{
                  "cve" : {
                    "type" : "string",
                    "description" : "Clave del campo"
                  },
                  "label" : {
                    "type" : "string",
                    "description" : "Descripcion del campo"
                  }
                }
              }
            }
          },
          "403":{
            "description": "Acceso denegado",
            "schema":{"$ref": "#/definitions/Error"}
          }
        }
      }
    },
    "/headcount/reporte":{
      "get":{
        "summary" : "Regresa reporte headcount",
        "description" : "Regresa un reporte headcount con los campos elegidos, si no se elige ninguno, se regresan todos los valores",
        "tags":["Sync"],
        "produces":["application/json"],
        "parameters":[{
          name : "potentor_id",
          "in": "query",
          "description": "Potentor id de la sucursal",
          "required": true,
          "schema" :{
            "type": "integer",
            "format": "int64",
            "example": 4
          }
          },{
          "in": "query",
          "name" : "campos",
          "description": "Claves de campos separados por pipes",
          "required": false,
          "schema": {
            "type" : "string",
            "example" : "NOMB|APAT|AMAT"
            }
          }],
        "security":[{"api_key": []}],
        "responses":{
          "200":{
            "description": "Devuelve un arreglo de los campos seleccionados",
            "schema":{
              "type" : "array",
              "items":{
                "type": "object",
                "description" : "Objecto con los campos seleccionados",
                "example": {'NOMB' : 'John', 'APAT': 'Doe'}
              }
            }
          },
          "403":{
            "description": "Acceso denegado",
            "schema":{"$ref": "#/definitions/Error"}
          }
        }
      }
    },
    "/jobbank/catalog":{
      "get": {
        "summary": "Obtener catalogo del cliente",
        "description" : "Obtiene los catalogos capturados en plataforma del usuario",
        "tags":["Bolsa de trabajo"],
        "produces": ["application/json"],
        "schema": {},
        "security":[{"api_key": []}],
        "responses": {
          "200": {
            "description": "Devuelve un arreglo de todos los elementos del catalogo del cliente",
            "schema":{
              "type":"array",
              "items" : {
                "type": "object",
              },
              "example" : [{"id": "1520", "value": "administracion", "catalog" : 1},{"id": "1942", "value": "TI - sistemas", "catalog" : 2}]
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/jobbank/fields":{
      "get": {
        "summary": "Obtener los campos del formulario del cliente",
        "description" : "Obtiene los nombres campos del formulario del cliente",
        "tags":["Bolsa de trabajo"],
        "produces": ["application/json"],
        "parameters":[{
          name : "sucursal_id",
          "in": "query",
          "description": "Potentor id de la sucursal",
          "required": true,
          "schema" :{
            "type": "integer",
            "format": "int64",
            "example": 4
          }
          }],
        "schema": {},
        "security":[{"api_key": []}],
        "responses": {
          "200": {
            "description": "Devuelve un json de todos los elementos del formulario creado por del cliente",
            "schema":{
              "type":"array",
              "items" : {
                "type": "object",
              },
              "example" : [{"nombre": "","ape_pat": "","ape_mat": "","maxgradcur": "","estgradcur": "",
                            "expLaboral": {"Empresa": "","Puesto": "","Actividades": ""},"eeco": "","email": "",
                            "telefono_casa": "","lugar_residencia": "","areas_interes": "","cv": "","CamposAdicionales": {
                            "Campo 3": "","Campo 2": "","Campo 1": ""}
                          }]
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/jobbank/push":{
      "post":{
        "summary": "guarda un registro en la bolsa de trabajo",
        "description" : "Guarda los datos capturados de un intersado en la bolsa de trabajo, los campos opcionales y obligatorios estan definidos dentro de la plataforma",
        "tags":["Bolsa de trabajo"],
        "produces": ["application/json"],
        "parameters":[{
          "name" : "jbank",
          "in": "body",
          "description" : "Objeto de tipo Job bank",
          "required": true,
          "schema": {
              "$ref": "#/definitions/JobBankProp"
            },
        }],
          "security":[{"api_key": []}],
        "responses": {
          "200": {
            "description": "Devuelve un objeto, con informacion del resultado de la inserción",
            "schema":{
              "type": "object",
              "properties":{
                "id":{"type": "number", "example": "250", "description": "ID generado"},
                "error":{"type": "bool", "example": false, "description": "Estatus del registro",}
              }
            }
          },
          "403":{
            "description": "Acceso denegado",
            "schema":{"$ref": "#/definitions/Error"}
          }
        }
      }
    },
    "/area/info": {
      "post": {
        "summary": "Crea area",
        "description": "Crea una area nueva para la sucursal.",
        "operationId": "creaArea",
        "tags": [
          "Area"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "area",
            "in": "body",
            "description": "Objeto de la area",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreaArea"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "Información de la area",
        "description": "Devuelve la información de una area definida.\n",
        "tags": [
          "Area"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id del area que desea encontrar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Un objeto area",
            "schema": {
              "$ref": "#/definitions/Area"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Area no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "summary": "Actualiza area",
        "description": "Actualiza la información de una area especificada.",
        "operationId": "actualizaArea",
        "tags": [
          "Area"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "sucursal",
            "in": "body",
            "description": "Objeto de la area",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActualizaArea"
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Area no encontrada",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Envío de datos inválido",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Elimina una area",
        "description": "Elimina la información de una area definida.\n",
        "tags": [
          "Area"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "potentor_id",
            "description": "Potentor id de la area que desea eliminar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Devuelve un objeto con la respuesta de la petición",
            "schema": {
              "$ref": "#/definitions/RespuestaCrud"
            }
          },
          "403": {
            "description": "Acceso denegado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Area no encontrada",
            "schema": {
[...]
